@{
  Layout = "_Layout";
}

@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{
  <div class="nav">
    <span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
    <span class="links">@Html.ActionLink("Sweets", "Index", "Sweets")</span>
    <span class="links">@Html.ActionLink("Savories", "Index", "Savories")</span>
  </div>
  <h3>Hello</h3>
  <h3 class="user-name">@User.Identity.Name</h3>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn" value="Log out" />
  }
}
else
{
  <p class="home-link">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="home-link">@Html.ActionLink("Register", "Register")</p>
  <p class="home-link">@Html.ActionLink("Log in", "Login")</p>
}
