@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models
@model SweetAndSavory.Models.Sweet

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
<span class="links">@Html.ActionLink("Sweets list", "Index")</span>
<hr />
<h3>Add savory to this sweet:</h3>
<h3 class="user-name">@Html.DisplayFor(model => model.Name)</h5>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SweetId)
  @Html.Label("Select savories:")
  <br>
  @foreach (Savory savory in ViewBag.SavoryId)
  {
    @Html.Label(savory.Name)
    @Html.CheckBox("SavoryId", false, new { value = savory.SavoryId, @class="checkbox"})
  }
  <input type="submit" value="Add savory" class="btn" />
}
