@{
  Layout = "_Layout";
}
@using System.Security.Claims
@model SweetAndSavory.Models.Sweet;

@if (User.Identity.IsAuthenticated)
{
  <h3>Welcome @User.Identity.Name</h3>
  <p>@Html.ActionLink("Edit sweet", "Edit", new { id = Model.SweetId })</p>
  <p>@Html.ActionLink("Delete sweet", "Delete", new { id = Model.SweetId })</p>
  <p>@Html.ActionLink("Add sweet", "AddSweet", new { id = Model.SweetId })</p>
  <hr />
}
<h3>Sweet details:</h3>
<hr />
<h4>Name: @Model.Name</h4>
<h4>Savories:</h4>
<hr />
@if(@Model.Savories.Count == 0)
{
  <p>No savories have been found</p>
}
else
{
  @foreach(var join in Model.Savories)
  {
    <p>@Html.ActionLink(@join.Savory.Name, "Details", "Savories", new {id = join.SavoryId})</p>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      @using (Html.BeginForm("DeleteSavory", "Sweets"))
      {
        @Html.Hidden("joinId", @join.SweetSavoryId)
        <input type="submit" value="Delete" class="btn"/>
      }
    }   
  }
}

<p>@Html.ActionLink("Sweets list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>