@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Savory

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
<span class="links">@Html.ActionLink("Savories list", "Index")</span>
<hr />
<h3>Add sweet to this savory:</h3>
<h3 class="user-name">@Html.DisplayFor(model => model.Name)</h5>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SavoryId)
  <div class="form-group"> 
    @Html.Label("Select sweet")
    @Html.DropDownList("SweetId")
  </div>
  <input type="submit" value="Add sweet" class="btn" />
}