@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models
@model SweetAndSavory.Models.Savory

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
<span class="links">@Html.ActionLink("Savories list", "Index")</span>
<hr />
<h3>Add sweet to this savory:</h3>
<h3 class="user-name">@Html.DisplayFor(model => model.Name)</h5>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SavoryId)
  @Html.Label("Select sweets:")
  <br>
  @foreach (Sweet sweet in ViewBag.SweetId)
  {
    @Html.Label(sweet.Name)
    @Html.CheckBox("SweetId", false, new { value = sweet.SweetId, @class="checkbox"})
  }
  <input type="submit" value="Add sweet" class="btn" />
}