@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models
@model SweetAndSavory.Models.Savory

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
<span class="links">@Html.ActionLink("Savories list", "Index")</span>
<hr />
<h3>Add new savory:</h3>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@class = "form-control", @required  = "required"})
  </div>
  @Html.Label("Select sweets:")
  <br>
  @foreach (Sweet sweet in ViewBag.SweetId)
  {
    @Html.Label(sweet.Name)
    @Html.CheckBox("SweetId", false, new { value = sweet.SweetId, @class="checkbox"})
  }
  <input type="submit" value="Add" class="btn" />
}
