@{
  Layout = "_Layout";
}
@using System.Security.Claims
@model SweetAndSavory.Models.Savory;

<span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
<span class="links">@Html.ActionLink("Savory list", "Index")</span>
@if (User.Identity.IsAuthenticated)
{
  <span class="links">@Html.ActionLink("Edit savory", "Edit", new { id = Model.SavoryId })</span>
  <span class="links">@Html.ActionLink("Delete savory", "Delete", new { id = Model.SavoryId })</span>
  <span class="links">@Html.ActionLink("Add sweet", "AddSweet", new { id = Model.SavoryId })</span>
  <hr />
  <h3>User:</h3>
  <h3 class="user-name">@User.Identity.Name</h3>
}
<h3>Savory name:</h3>
<h3 class="user-name">@Model.Name</h3>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h4 class="panel-title">Sweets:</h4>
  </div>
  <div class="panel-body">
    @if(@Model.Sweets.Count == 0)
    {
      <p>No sweets have been found</p>
    }
    else
    {
      @foreach(var join in Model.Sweets)
      {
        <p class="list">@Html.ActionLink(@join.Sweet.Name, "Details", "Sweets", new {id = join.SweetId})</p>
        @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
        {
          @using (Html.BeginForm("DeleteSweet", "Savories"))
          {
            @Html.Hidden("joinId", @join.SweetSavoryId)
            <input type="submit" value="Delete" class="btn"/>
          }
        }   
      }
    }
  </div>
</div>